name: Run Automated Tests

on:
  push:
    branches: ['*']
  pull_request:
  workflow_call:

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: Linux, python: '3.10', os: ubuntu-latest, tox: py310}
          - {name: Windows, python: '3.10', os: windows-latest, tox: py310}
          - {name: Mac, python: '3.10', os: macos-latest, tox: py310}
          - {name: '3.11-dev', python: '3.11-dev', os: ubuntu-latest, tox: py311}
          - {name: '3.9', python: '3.9', os: ubuntu-latest, tox: py39}
          - {name: '3.8', python: '3.8', os: ubuntu-latest, tox: py38}
          - {name: '3.7', python: '3.7', os: ubuntu-latest, tox: py37}
          - {name: 'PyPy', python: 'pypy3.9', os: ubuntu-latest, tox: pypy39}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
          cache-dependency-path: 'requirements-dev.txt'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: Run tests with tox
        run: tox -e ${{ matrix.tox }}
